.App {
  text-align: center;
}
nav.router-style ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 30px;
}

nav.router-style ul li {
  margin: 0 10px; 
}

nav.router-style ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  background: #02e2db;
  padding: 15px;
}

